IM_WFS_HOST=https://tileserver2.incidentcentrale.nl/geoserver/ows # WFS endpoint for IM meldingen, without query parameters.
IM_WFS_POLL_RATE=60 # Polling rate in seconds. How often the bot should check for new meldingen.
IM_QUERY_CITIES=Nijmegen,Lent # Comma-separated list of cities to filter meldingen by. Leave empty to receive all meldingen.

PHOTON_HOST=https://photon.komoot.io # Photon geocoding service endpoint. Used to get street names from coordinates.

WEBHOOK_URL= # Discord webhook URL to send meldingen to